body {
    background-color: #CAD7DE;
    transition: 0.5s;
}

.top {
    width: 100vw;
    height: 70px;
    background: #00000E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .content {
    width: 900px;
    height: auto;
    background: #F5F5F0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container .content p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 21px;
}

.container .content p+p+p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container button {
    width: 284px;
    background: #60E29D;
    font-family: Roboto, sans-serif;
    border-radius: 10px;
    margin-top: 80px;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px white;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.container button:hover {
    background: #30e685;
}

#modal {
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}

#modal section {
    display: flex;
    align-items: center;
    color: #F5F5F0;
    flex-direction: column;
    margin-top: 180px;
}

#modal section img {
    width: 476px;
    margin-bottom: 80px;
}

.hide {
    top: 900px;
}